/* Card styling */
.card-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 60px 0;
  border: 1.5px solid #222;
  padding-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  background: #f2f2f2;
  padding: 80px;
  border-radius: 20px;
}

.card-container img {
  max-width: 100%;
  width: 100%;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 80%;
}

.btn-close {
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #222;
    background: transparent;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    padding: 0.70rem 1.35rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}
.btn-close:hover {
  color: #fff;
  background: #222;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #d9d9d9;
  padding: 8px 30px;
  border-radius: 12px;
  background: rgb(199, 214, 238);
}

.comment {
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    padding: 0.50rem 0.8rem;
    font-size: 0.9rem;
    color: #fff;
}

.buttons-right {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.likes-nr {
  color: #fff;
  background-color: #1daf22;
  padding: 3px 8px;
  display: flex;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 1px 3px rgba(168, 67, 67, 0.2);
}

.dislikes-nr {
  color: #fff;
  background-color: #f44336;
  padding: 3px 8px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.del-btn {
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #fff;
    background: rgb(39, 32, 32);
    font-weight: 700;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    padding: 0.50rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.like-icon {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #fff;
    background: #4CAF50;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    padding: 0.50rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;

}

.dislike-icon {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #fff;
    background: #f44336;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    padding: 0.50rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
}


.inpCommentContainer {
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s linear;
    border-radius: 0.45rem;
    padding: 0.50rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 18px;
}

.deleteInpComment {
  color: #fff;
  background-color: #000;
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.addComment {
  font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: #fff;
    background: rgb(252, 71, 71);
    font-weight: 700;
    transition: all 0.3s linear;
    border: 1px solid #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.45rem;
    padding: 0.70rem 1.35rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}

.addComment:hover {
  color: #fff;
  background: #222;
}

.input {
  font-size: 3.9rem;
  padding: 14px;

}

.inputElement {
  font-size: 1.6rem;
  background: transparent;
  text-decoration: none;
  border: 1px solid #222;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #222;
  padding: 0.50rem 1.8rem;
  border-radius: 8px;
}